/* ///// Global ///// */

@font-face{font-family:'YouMurderer'; src: url(../fonts/you_murderer/YouMurderer.ttf) format('truetype');}

@font-face{font-family:'Top Secret Stamp'; src: url(../fonts/top-secret-stamp/top-secret-stamp.ttf) format('truetype');}


body {

  background: url(../images/blood_splatter_background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

h1, h2 {

  text-align: center;
 }

h1 {
  margin: 25px auto;
  font-family: 'YouMurderer', helvetica, sans-serif;
  font-size: 90px;
  color: rgb(197,0,0);
}

h2 {

  font-family: 'Top Secret Stamp', helvetica,sans-serif;
  font-size: 30px;
  margin: 25px auto;
  color: white;
}

/* ///// Button ///// */

button {
  
  width: 150px;
  height: 30px;
  border-radius: 50px;
  display: block;
  margin: 0 auto;
  color: white;
  font: 16px 'Top Secret Stamp', helvetica,sans-serif;
}

#new-game {

  background-color: navy;
  border-color: navy;
}

#reset-game {
  background-color: rgb(197,0,0);
  border-color: rgb(197,0,0);
}

/* ///// Board ///// */

#board {
  font-size:0;
  width: 90%;
  margin: 0 auto;
}

/* ///// Squares ///// */

.aileen-wuornos {

  background: url(../images/portraits/aileen-wuornos.jpg);
}

.belle-gunness {

  background: url(../images/portraits/belle-gunness.jpg);
}

.charles-manson {

  background: url(../images/portraits/charles-manson.jpg);
}

.david-berkowitz {

  background: url(../images/portraits/david-berkowitz.jpg);
}

.dennis-rader {

  background: url(../images/portraits/dennis-rader.jpg);
}

.ed-gein {

  background: url(../images/portraits/ed-gein.jpg);
}

.jeffrey-dahmer {

  background: url(../images/portraits/jeffrey-dahmer.jpg);
}

.john-wayne-gacy {

  background: url(../images/portraits/john-wayne-gacy.jpg);
}

.richard-ramirez {
  background: url(../images/portraits/richard-ramirez.jpg);
}

.richard-speck {
  background: url(../images/portraits/richard-speck.jpg);
}

.ted-bundy {
  background: url(../images/portraits/ted-bundy.jpg);

}

.zodiac-killer {
  background: url(../images/portraits/zodiac-killer.jpg);
}

.covered {

  background: url(../images/bloody-handprint.jpg);
}

.square {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: inline-block;
  width: 15%;
  height: 150px;
  border: 1px solid black;
}

/*///// Killer Match Modal ///// */

.modal {
  
  background: gray;
  display: block;
  float:left;
  position: absolute;
  z-index: 2;
  top: 40%;
  left: 20%;
  width: 700px;
  height: 500px;
  overflow: scroll;
  text-align: center;
}

.modal img {

  display: block;
  height: 200px;
  width: 200px;
  margin: 35px auto;
}

.modal h3 {

  margin: 15px 0;
}

.modal p {

  font: 20px 'Top Secret Stamp', helvetica,sans-serif;
}


#killer-caught h3 {

  font: 50px 'YouMurderer', helvetica,sans-serif;
  color: rgb(197,0,0);
}

#caught-all h3 {

  font: 35px 'Top Secret Stamp', helvetica,sans-serif;
  color: navy;
}

.close-window {

  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
}

.close-window img {

  width: 25px;
  height: 25px;
  margin: 0;
}

.hidden {

  display: none;
}